{% extends 'base.html' %}
{% block body%}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <!--   Button to add new records   -->
            <button type="button" class="btn btn-dark float-right" data-toggle="modal" data-target="#addRecord">+
            </button>
            <!--   Add Modal Start  -->
            <div class="modal fade" id="addRecord" tabindex="-1" role="dialog"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Add Student</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <!--       Start Add Record Form        -->
                            <form action="{{url_for('add_student')}}" method="POST">
                                <div class="form-group">
                                    <label for="name" class="col-form-label">Name:</label>
                                    <input type="text" class="form-control" name="name" id="name" required></input>
                                </div>
                                <div class="form-group">
                                    <label for="city" class="col-form-label">City:</label>
                                    <input type="text" class="form-control" name="city" id="city" required></input>
                                </div>
                                <div class="form-group">
                                    <label for="contact" class="col-form-label">Contact Number:</label>
                                    <input type="text" class="form-control" name="contact" id="contact"
                                           required></input>
                                </div>
                                <button type="submit" class="btn btn-dark">Add Student</button>
                            </form>
                            <!--       End Add Record Form        -->
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                        </div>
                    </div>
                </div>
            </div>
            <!--    Add modal ends    -->
            <!--   Table to show the retrieved data     -->
            <table class="table">`
                <thead class="thead-dark">
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>City</th>
                    <th>Contact no.</th>
                    <th>Edit/Delete</th>

                </tr>
                </thead>
                <tbody>
                {% for data in students%}
                <tr>
                    <th>{{data.id}}</th>
                    <td>{{data.name}}</td>
                    <td>{{data.city}}</td>
                    <td>{{data.contact}}</td>
                    <td><a href="/updateStudent/{{data.id}}" class="btn btn-light" data-toggle="modal"
                           data-target="#editRecord{{data.id}}">Edit</a>
                        <a href="/deleteStudent/{{data.id}}" class="btn btn-dark" onclick="return confirm('Do you really want to delete?')">Delete</a>
                    </td>
                </tr>
                <!--        Start Edit Modal        -->
                <div class="modal fade" id="editRecord{{data.id}}" tabindex="-1" role="dialog"
                     aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Edit Student</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <!--       Edit Record Form        -->
                                <form action="{{url_for('update_student')}}" method="POST">
                                    <div class="form-group">
                                        <input type="hidden" name="id" value="{{data.id}}">
                                        <label for="name" class="col-form-label">Name:</label>
                                        <input type="text" class="form-control" name="name" value="{{data.name}}"
                                               required></input>
                                    </div>
                                    <div class="form-group">
                                        <label for="city" class="col-form-label">City:</label>
                                        <input type="text" class="form-control" name="city" value="{{data.city}}"
                                               required></input>
                                    </div>
                                    <div class="form-group">
                                        <label for="contact" class="col-form-label">Contact Number:</label>
                                        <input type="text" class="form-control" name="contact" value="{{data.contact}}"
                                               required></input>
                                    </div>
                                    <button type="submit" class="btn btn-dark">Update Student</button>
                                </form>
                                <!--       End Edit Record Form        -->
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                            </div>
                        </div>
                    </div>
                </div>
                <!--        End Edit Modal        -->
                </tbody>
                {%endfor%}
            </table>

        </div>

    </div>
</div>
{% endblock%}
